PORT=3000
PROD=true
API_BASE_URL=http://localhost:5000
PUBLIC_BASE_URL=http://localhost:3000
PROD_API_BASE_URL=https://tylt-feedback-form-server-production.up.railway.app
PROD_PUBLIC_BASE_URL=https://tylt-feedback-form-client.vercel.app
